* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #077b84, #631702bb);
  color: white;
  font-family: "poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 1rem;
  border: none;
  font-size: 2rem;
}
form button {
  color: #631702bb;
  background: lightgrey;
  cursor: pointer;
  transition: all 0.5s ease;
}
form button:hover {
  background: #b55940bb;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}
.complete-btn,
.trash-btn {
  background: green;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.trash-btn {
  background: rgb(170, 37, 37);
}
.fa-check,
.fa-trash {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(10rem) rotateZ(360deg);
  opacity: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  overflow: hidden;
  position: relative;
}
select {
  color: #631702e1;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #631702e1;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}
